.container{
    width: 45px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: relative;
    padding: 0px 4px;
}

.ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}